.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;

}

.search-input {
  padding: 12px 40px 12px 10px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.);
  color: #383737;
  width: 100%;
  padding-left: 30px;
  max-width: 100%;
  transition: box-shadow 0.3s ease-in-out;
}

.search-input[text]::placeholder{
  color: #C3C3C3;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


.search-input:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
