<div class="sidebar">
  <!-- Header section -->
  <div class="sidebar-header">
    <span>Cura</span>
  </div>
  <div class="divider"></div>

  <!-- Main menu items section -->
  <ul class="menu">
    <li class="menu-item">
      <a class="main-item" href="#">
        <img src="assets/images/home.svg" alt="SVG Image"  /> Dashboard
      </a>
    </li>
    <li class="menu-item has-children">
      <a class="main-item active" href="#">
        <img src="assets/images/feedback.svg" alt="SVG Image" />Feedback
        <img src="assets/images/dropdown.svg" alt="SVG Image" />
      </a>
      <ul class="submenu">
        <li class="submenu-item">
          <a class="active-sub-menu-item" href="#">Complaints</a>
        </li>
        <li class="submenu-item">
          <a href="#">Recommendations</a>
        </li>
      </ul>
    </li>
    <li class="menu-item has-children">
      <a class="main-item" href="#">
      <img src="assets/images/settings.svg" alt="SVG Image" /> Configurations
        <span class="fa fa-chevron-down"></span>
      </a>
      <ul class="submenu">
        <li class="submenu-item">
          <!-- <a href="#">General Settings</a> -->
        </li>
      </ul>
    </li>
      <li class="menu-item has-children">
        <a class="main-item" href="#">
          <img src="assets/images/contacts.svg" alt="SVG Image" /> Contacts
          <span class="fa fa-chevron-down"></span>
        </a>
        <ul class="submenu">
          <li class="submenu-item">
            <!-- <a href="#">General Settings</a> -->
          </li>
        </ul>
      </li>
        <li class="menu-item has-children">
          <a class="main-item" href="#">
            <img src="assets/images/reports.svg" alt="SVG Image" /> Reports
            <span class="fa fa-chevron-down"></span>
          </a>
          <ul class="submenu">
            <li class="submenu-item">
              <!-- <a href="#">General Settings</a> -->
            </li>
          </ul>
        </li>
          <li class="menu-item has-children">
            <a class="main-item" href="#">
              <img src="assets/images/account.svg" alt="SVG Image" /> Account Management
              <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="submenu">
              <li class="submenu-item">
                <!-- <a href="#">General Settings</a> -->
              </li>
            </ul>
          </li>
  </ul>

  <!-- Footer section -->
  <div class="sidebar-footer">
    <img src="assets/images/logout.svg" alt="SVG Image" /><a href="#">Log-Out</a>
  </div>
</div>
